---
import { Image } from "astro:assets";
import languages from "../data/languages.js";
import ProjectCard from "../components/ProjectCard.astro";
const currentLanguage =
    Astro.url.searchParams.get("lang") === "en" ? "en" : "es";
---

<section
    class="projects__container"
    id={currentLanguage === "en" ? "projects" : "proyectos"}
>
    <h2 class="projects__title">
        {languages[currentLanguage].projects.projectsTitle}
    </h2>
    <div class="projects__cards__container">
        <div class="projects__cards">
            {
                languages[currentLanguage].projects.projectsList.sort((a, b) => {
        // Coloca los proyectos con projectType igual a 2 al principio
        if (a.projectType === 2 && b.projectType !== 2) return -1;
        if (a.projectType !== 2 && b.projectType === 2) return 1;
        return 0; // Mantiene el orden para otros projectType
    }).map((project) => (
                    <div class="cards__container">
                        <ProjectCard
                        title={project.title}
                        description={project.description}
                        github_urls={project.github}
                        live_url={project.live_url}
                        images={project.images}
                        alt={project.alt}
                        technologies={project.technologies}
                        projectType={project.projectType}
                    />
                    </div>
                ))
            }
        </div>
    </div>
</section>

<style>
    .cards__container {
        width: 350px;
        display: flex;
        flex: 0 0 calc(33.333% - 50px);
        justify-content: center;
        align-items: center;
    }
    .projects__title {
        color: #fff;
        font-size: 2rem;
        font-weight: 600;
    }
    .projects__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 5px;
        min-height: 100vh;
    }

    .projects__cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 50px;
        gap: 20px;
    }
    .projects__cards__container {
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 100%;
    }
</style>
